/* 声明字体图标 */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?tomleg");
  src: url("../fonts/icomoon.eot?tomleg#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?tomleg") format("truetype"),
    url("../fonts/icomoon.woff?tomleg") format("woff"),
    url("../fonts/icomoon.svg?tomleg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* 版心 */
.w {
  width: 1200px;
  margin: 0 auto;
}

/* 快捷导航模块 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.style_red {
  color: #c81623;
}

/* 快捷导航模块 */
.shortcut {
  height: 31px;
  line-height: 31px;
  background-color: #f1f1f1f1;
}
.shortcut ul li {
  float: left;
}
.shortcut .fr ul li:nth-child(even) {
  width: 1px;
  height: 12px;
  background-color: #666666;
  margin: 9px 15px 0;
}
.shortcut .fr .arrow-icon a::after {
  content: "\e91e";
  font-family: "icomoon";
  margin-left: 6px;
}

/* header 头部区域 */
header {
  position: relative;
  height: 106px;
}
header .logo a {
    position: absolute;
    top: 26px;
    left: 0;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
    font-size: 0;
}
header .search {
  position: absolute;
  top: 25px;
  left: 346px;
  width: 538px;
  height: 36px;
  border: 2px solid #b1191a;
}
header .search input {
  float: left;
  width: 454px;
  height: 32px;
  padding-left: 10px;
}
header .search button {
  float: left;
  width: 80px;
  height: 32px;
  font-size: 16px;
  color: #fff;
  background-color: #b1191a;
}
header .hotwords ul {
  position: absolute;
  left: 358px;
  bottom: 24px;
  float: left;
}
header .hotwords ul li {
  float: left;
  margin-right: 26px;
  font-size: 12px;
  color: #666666;
}
header .shopcar {
  position: absolute;
  top: 27px;
  right: 65px;
  width: 140px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: #f2f2f2;
}
header .shopcar a {
  font-size: 12px;
  color: #666666;
}
header .shopcar a::before {
  content: "\e93a";
  font-family: "icomoon";
  margin-right: 10px;
  color: #b1191a;
  font-size: 14px;
}
header .shopcar a::after {
  content: "\e920";
  font-family: "icomoon";
  margin-left: 10px;
}
header .shopcar .count {
  position: absolute;
  top: -5px;
  left: 105px;
  height: 14px;
  line-height: 14px;
  color: #fff;
  background-color: #e60012;
  padding: 0 5px;
  border-radius: 7px 7px 7px 0;
}

/* nav 导航栏区域 */
nav {
  height: 46px;
  border-bottom: 2px solid #b1191a;
}
nav .w {
  height: 46px;
}
nav .dropdown {
  float: left;
  width: 210px;
  height: 45px;
  background-color: #b1191a;
}
nav .dropdown:hover .dd {
  display: block;
}
nav .dropdown .dt {
  text-align: center;
  line-height: 45px;
}
nav .dropdown a {
  font-size: 16px;
  color: #fff;
}
nav .dropdown .dd {
  display: none;
  height: 465px;
  background-color: #c81623;
}
nav .dropdown .dd ul li {
  position: relative;
  height: 31px;
  line-height: 31px;
  margin-left: 2px;
  padding-left: 10px;
}
nav .dropdown .dd ul li:hover {
  background-color: #fff;
}
nav .dropdown .dd ul li::after {
  position: absolute;
  top: 1px;
  right: 10px;
  font-family: "icomoon";
  content: "\e920";
  font-size: 14px;
  color: #fff;
}
nav .dropdown .dd a {
  font-size: 14px;
  color: #fff;
}
nav .dropdown .dd ul li:hover a {
  color: #c81623;
}
nav .navitems ul li {
  float: left;
  color: #333333;
}
nav .navitems ul li a {
  display: block;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  padding: 0 25px;
}

/* 底部模块 */
footer {
  padding: 30px 0 38px 0;
  height: 415px;
  background-color: #f5f5f5;
}
footer .mod_service {
  height: 80px;
  border-bottom: 1px solid #ededed;
}
footer .mod_service ul li {
  float: left;
  padding-left: 30px;
}
footer .mod_service a {
  display: block;
  width: 205px;
  height: 50px;
}
footer .mod_service a h5 {
  float: left;
  margin-right: 8px;
  width: 50px;
  height: 50px;
}
footer .mod_service li:nth-child(1) h5 {
  background: url(../images/icons.png) -253px -3px no-repeat;
}
footer .mod_service li:nth-child(2) h5 {
  background: url(../images/icons.png) -254px -54px no-repeat;
}
footer .mod_service li:nth-child(3) h5 {
  background: url(../images/icons.png) -257px -106px no-repeat;
}
footer .mod_service li:nth-child(4) h5 {
  background: url(../images/icons.png) -258px -157px no-repeat;
}
footer .mod_service li:nth-child(5) h5 {
  background: url(../images/icons.png) -256px -209px no-repeat;
}
footer .mod_service a h4 {
  font-size: 14px;
}
footer .mod_service a p {
  font-size: 12px;
}

.mod_help {
  height: 185px;
  border-bottom: 1px solid #ededed;
}
.mod_help dl {
  float: left;
  padding: 20px 0 20px 30px;
  width: 200px;
}
.mod_help dl h5 img {
  width: 90px;
  height: 90px;
}
.mod_help dl:last-child {
  padding: 20px 0 0 0;
  width: 100px;
  text-align: center;
}
.mod_help dl dt {
  margin-bottom: 15px;
  font-size: 16px;
}
.mod_help dl dd {
  font-size: 12px;
  color: #666666;
}

.mod_copyright {
  text-align: center;
}
.mod_copyright .links {
  padding-left: 115px;
}
.mod_copyright .links ul li {
  float: left;
  margin: 15px 0 15px 10px;
  font-size: 12px;
  color: #666666;
}
.mod_copyright .copyright {
  float: left;
  padding-left: 240px;
  font-size: 12px;
  color: #666666;
}
